@model List<DataModel>
@{
	ViewData["Title"] = "Home Page";
}

 
<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {
 
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Temperature in Stockholm during the last four months"
	},
	axisX: {
		valueFormatString: "DD MMM YY"
	},
	axisY: {
		title: "Temperature (°C)",
        suffix: " °C"
	},
	data: [{
		type: "spline",
		xValueType: "dateTime",
		xValueFormatString: "DD MMM YY",
		yValueFormatString: "$#,##",					
		dataPoints: @Html.Raw(ViewBag.DataModels)
	}]
});
chart.render();
 
}
</script>
</head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>	
</body>
</html>