@model WeatherViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div style="text-align: left;">
    <h1 class="display-4">Average temperature</h1>
    <p>During the last four month in Stockholm</p>
    <table style="width: 100%" class="table table-responsive table-hover">
        <tr>
            <th>
                Temperature
            </th>
        </tr>
        <code>
            <tr>
                <th>
                    @Model.temperatureC °C
                </th>
            </tr>
        </code>
    </table>
</div>