@model List<WeatherViewModel>
@{
    ViewData["Title"] = "Home Page";
}





<div style="text-align: left;">
    <h1 class="display-4">Temperature</h1>
    <p>Temperature during the last four month in Stockholm.</p>
    <table style="width: 100%" class="table table-responsive table-hover">
        <tr>
            <th>
                Date
            </th>
            <th>
                Temperature
            </th>
        </tr>
        <code>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.date.ToString(string.Format("dddd, dd MMMM yyyy HH:mm:ss"))
                    </td>
                    <td>
                        @item.temperatureC °C
                    </td>
                </tr>
            }

        </code>
    </table>
</div>